/* CONDITION STYLES */
label {
    font-size: 1rem;
}
.preview {
    position: relative;
    width: 75%;
    height: 15rem;
    border: 1px solid lightgray;
}

.preview:before, .preview:after {
    position: absolute;
    top: -140px;
    left: 240px;
    content: ' ';
    height: 525px;
    width: 1px;
    background-color: lightgray;
}

.preview:before {
    transform: rotate(64deg);
}

.preview:after {
    transform: rotate(-64deg);
}

.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.condition-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.condition-containers {
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid lightgray;
}

.content-end {
    display: flex;
    justify-content: end;
}

.column {
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    visibility: hidden;
}

input[type="radio"]:checked+label{
    background-color: rgb(25, 134, 156);
    color: white;
    font-weight: 800;
}

.radio-buttons {
    position: relative;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 1.5rem 0;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

.radio-buttons:hover {
    background-color: #E7F3F5
}

.radio-buttons label, .radio-buttons input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hr {
    background-color: black;
}

.radio-buttons:hover, label:hover, input[type="radio"]:hover {
    cursor: pointer;
}

.upload-button {
    background-color: lightgray !important;
    margin-bottom: 2rem !important;
}

/*
input#imgInp {
    display: inline-block;
    width: 100%;
    padding: 120px 0 0 0;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 60px 60px;
  }

  */

/*Hide the input button. */
.hidden {
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
} 



.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    font-size:50px;
}
