/* DELIVERY STYLES */

.input-form {
    flex-direction: column;
}

.map-container .col-12 {
    flex-direction: column;
}

.icon-wrapper {
    justify-content: center;
}

.icon-title {
    text-align: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 !important;
}

.icon-container img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    border: 1px solid #000;
    border-radius: 50%;
}

.icon-container h3 {
    margin: 0.5rem 1rem;
    text-align: center;
}

.icon-container p {
    margin: 0 1rem;
    text-align: center;
}

.delivery-button button {
    margin-bottom: 2rem;
}

.cta-button {
    padding: 1rem 3rem;
    background: linear-gradient(rgb(27, 154, 177), #168A9E);
    color: #FFF;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 0.2rem;
}

.submit-button{
    margin-top: 2rem;
    padding: 1rem 3rem;
    background: linear-gradient(rgb(27, 154, 177), #168A9E);
    color: #FFF;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 0.2rem;
}

input {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}
