/* DONE STYLES */

* {
    text-align: center;
}

.title {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.icon-wrapper {
    justify-content: center;
}

.icon-title {
    text-align: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 !important;
}

.icon-container img {
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 1rem;
    border: 1px solid #000;
    border-radius: 50%;
}

.icon-container h3 {
    margin: 0.5rem 1rem;
    text-align: center;
}

.icon-container p {
    margin: 0 1rem;
    text-align: center;
}
