/* FILTER STYLES */

/*
    FILTER MENU
*/

.selected-filter-element {
    font-weight: 800;
}

.filter-element {
    cursor: pointer;
}

#instruction-container {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
}

#instruction-text {
    margin: 0 auto;
    padding: 1.5rem 10px 0.5rem 25px;
    font-size: 24px;
}

#instruction-progress {
    margin: 0 auto;
    padding: 10px 10px 5px 10px;

    height: 40px;
}

.filter-progress {
    padding: 5px 0;
    line-height: 20px;

    border-bottom: 5px solid gray;
}

.progress-done {
    border-bottom: 5px solid green;
}

.progress-next {
    border-bottom: 5px solid orange;
}

.filter-drop-down-container {
    margin: 0 auto !important;
    padding: 0 10px 30px 10px !important;
}

#instruction-selector {
    margin: 0 auto;
    padding: 1rem 10px;
}

.big-filter-element {
    cursor: pointer;

    margin: 10px;
    padding: 10px;

    display: inline-block;
    width: 150px;
    height: 75px;

    line-height: 75px;
    text-align: center;

    font-weight: 800;
    font-size: 20px;

    background-color: #FFFFFF;
    box-shadow: 0 5px 10px -1px rgba(0,0,0,0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    transition: 0.1s;
}

.big-filter-element:hover {
    box-shadow: 0 5px 10px -1px rgba(0,0,0,0.6);
}

/*
    PRODUCTS
 */

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;


}

.product-div {
    width: 250px;

    margin: 10px;
    padding: 10px;

    text-decoration: none;
    color: #000000;

    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px 10px 0 0;

    background-color: #FFFFFF;
    box-shadow: 0 5px 10px -1px rgba(0,0,0,0.1);

    transition: 0.1s;
}

.product-div:hover {
    box-shadow: 0 5px 10px -1px rgba(0,0,0,0.6);
}

.product-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.product-brand {
    padding: 5px 0 5px 0;

    font-weight: bold;

    border-top: 2px solid rgba(0,0,0, 0.5);
}

.product-category {
    display: none;
}

.product-subcategory {
    display: none;
}

.product-gender {
    display: none;
}

.product-model {
    font-size: 20px;
    padding: 0 0 5px 0;
}

.product-color {

}
