/* INDEX STYLES */
.first-index {
    margin-top: 4rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue-index {
    background-color: #E7F3F5;
}

.index-container {
    margin: 0 auto !important;
}

.second-container {
    margin-top: 0 !important;
}


.container {
    padding: 2rem !important;
    background-color: transparent !important;
}

.img-container img {
    width: 90%;
}
.hero {
    width: 100% !important;
    height: 400px;
    background-image: url(../img/clothing-2.jpg);
    background-position: center center;
    background-size: cover;
}

.first-main-title-container h1 {
    margin-top: 0 !important;
}

.icon-wrapper {
    justify-content: center;
}

.icon-title {
    text-align: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 !important;
}

.icon-container img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #E7F3F5;
    box-shadow: inset 0 0 3px 0;
}

.icon-container h3 {
    margin: 0.5rem 1rem;
    text-align: center;
}

.icon-container p {
    margin: 0 1rem;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0 !important;
}

.cta-button {
    padding: 1rem 4rem;
    background: linear-gradient(rgb(27, 154, 177), #168A9E);
    color: #FFF;
    font-weight: 600;
    font-size: 1.2rem;
}

.cta-button:hover {
    background: linear-gradient(rgb(25, 134, 156), #177085);

}


