/* COMMON STYLES FOR ALL SITES */

* {
    font-family: 'Muli', sans-serif;
}

html, body {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #FFFFFF;
}

.first {
    margin-top: 6rem !important;
}

.main-title {
    text-align: center;
}

.title {
    margin-top: 0;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.button-container {
    margin: 2rem !important;
}

.cta-button {
    padding: 1rem 4rem;
    background: linear-gradient(rgb(27, 154, 177), #168A9E);
    color: #FFF;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 0.2rem;
}

.cta-button:hover {
    cursor: pointer;
    background: linear-gradient(rgb(25, 134, 156), #177085);

}

/* PROGRESS BAR */
.progress-container {
    left: 5%;
    position: fixed;
    width:15%;
    top: 15%;
    z-index: 10;
}

.progress-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10%;
    height: 30%;

}
.progress-text{
    word-wrap: break-word !important;
    width: 70%;
    text-align: right !important;
}

.progress-circle{
    border-radius: 50%;

    width: 3rem;
    height: 3rem;
    border: solid black 1px;
    box-shadow: inset 0 0 2px 0;
    background-color: white;
}

.progress-circle img {
    height: 100%;
}



