/* FARGEPALETT */
.Proto-1-hex { color: #FCF6F3; }
.Proto-2-hex { color: #E3D5D3; }
.Proto-3-hex { color: #D13B3B; }
.Proto-4-hex { color: #772F2F; }
.Proto-5-hex { color: #555555; }


/* COMMON STYLES FOR ALL SITES */

* {
    font-family: 'Muli', sans-serif;
}

html, body {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #FFFFFF;
}

.first {
    margin-top: 6rem !important;
}

.main-title {
    text-align: center;
}

.title {
    margin-top: 0;
}

.button-container {
    margin: 2rem !important;
}

.cta-button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 3px #00000050;
    font-size: 1rem;
    background-color: #D13B3B;
    color: white;
}

.cta-button:hover {
    cursor: pointer;
}