/* PROFILE SIDEBAR STYLES */
.content-left {
    padding: 0 1rem;
    border-right: 1px solid lightgray;
}

.content-right {
    padding: 0 1rem;
}


.icon-wrapper {
    justify-content: center;
    
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}