/* PROFILE SIDEBAR STYLES */
.content-left {
    padding: 0 1rem;
    border-right: 1px solid lightgray;
}

.content-right {
    padding: 0 1rem;
}


.icon-wrapper {
    justify-content: center;
    
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.edit-button {
    width: 100% !important;
    height: unset !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0.2rem !important;
    font-size: 1rem !important;
    font-weight: 600;
    text-align: center !important;
    background-color: #E7F3F5 !important;
}

.edit-button:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #187B90 !important;
}